.dark{
    background-color: #252834;
    color: azure;
    border-radius: 30px;
    height: 450px;
    width: 750px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.light{
    background-color: #d2f8f8;
    color: #252834;
    border-radius: 30px;
    height: 450px;
    width: 750px;
    display: flex;
    justify-content: center;
    align-items: center;
}